.root {
  width: 100%;
  height: 100%;
}





.mobilelogowrapper {
  display: none;
}


body {
    display: flexbox;
    flex-direction: column;
    width:100%;
    height: 100%;
    min-height: 100%;
    background-color: #10171f;
  
    margin: 0px;
  }

  .mobileMenu {
    display: none;
  }

  .mobileMenuimg:hover {
    cursor: pointer;
  }

  .mobileMenuClose:hover {
    cursor: pointer;
  }

  .mobileMenuClose{
    display: none;
  }

    /* The Modal (background) */
    .Mobilemodal-container {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      background-color:#10171f;
      margin-top: 100px; /* Location of the box */
      left: 32;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */

    
    }

    
    
    .Mobilemodal-menu {
      display: flex;
      flex-direction: column;
      background-color:#10171f;
      margin: auto;
      width: 100%;
      height: 100%;
      padding-top: 5%;
      padding-left: 30%;


    }
    
    .Mobilemodal-menu a {
      display: flex;
      flex-direction: column;
      background-color:#10171f;
      width: 100%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #D8D7DB;
      font-size: 40px;
      font-weight: 900;
      padding-bottom: 2%;
    }

    .Mobilemodal-menu a:hover {
      display: flex;
      flex-direction: column;
      background-color:#10171f;
      width: 100%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #1eeadb;
      font-size: 40px;
      font-weight: 900;
      padding-bottom: 2%;
      cursor: pointer;
    }
    

  .footer {
    display: inline-block;
    position: relative;
    position: -webkit-sticky;
    bottom: 0;
    background-color: #10171f;
    padding-top: 1%;
    padding-bottom: 0.5%;
    width: 100%;
    text-align: center;
  }

.NykeInfo {
  display: flex;
  justify-content: space-between;
  
}


  .footerwrapper {
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
  }

  .footericon:hover {
    cursor: pointer;
  }
  .logo {
    margin-top: 5px;
    width: 140px;
    height: 40px;
  }

  .logo:hover {
    cursor: pointer;
  }
  

  .topnav a.icon {
    float: right;
    display: none;
    color: #1eeadb;
    font-size: 150%;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-left: 5px;
  }


  .maincontent {
    display: block;
    background-color:  #10171f;
    width: 100%;
    height: 800px;
    align-items: center;
    float: right;
  }

  .USCRepay {
    background-color: #0cfa07;
    color: #000000;
  }

  .USCRepay2 {
    display: none;
  }

  .modalButton div {
    height: 100%;
  }

  .rewardcontainer {
    display: flex;
    flex-direction: row;
    float: left;
    height: 10%;
    width: 60%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 20%;
    margin-right: 20%;
    overflow: hidden;
    align-items: center;
  }

  .rewardcontainer2 {
    display: inline-flex;
    height: 5%;
    width: 60%;
    margin-bottom: 1%;
    margin-left: 20%;
    margin-right: 20%;
    overflow: hidden;
    align-items: center;
  }

  
  .RewardsAPR {
    display: inline-flex;
    height: 100%;
    width: 40%;
    overflow: hidden;
    align-items: right;
  }

  .rewardsinfo {
    width: fit-content;
    overflow: hidden;
    color: #1eeadb;
    height:100%;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .rewardsAPRText {
    width: fit-content;
    overflow: hidden;
    color: #1eeadb;
    height:100%;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .rewardsAPRText p {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    color: #1eeadb;
    height:100%;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .accruedRewards {
    height: 100%;
    width: fit-content;
    overflow: hidden;
    color: #D8D7DB;
    height:100%;
    margin-left: 10px;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 



  .flex-container {
    display: flexbox;
    flex-direction: row-reverse;
    width: 60%;
    min-width: 300px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
    margin-bottom: 0%;
    overflow: hidden;
    color: #1eeadb;
    height:100%;
    font-weight: 500;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .nyke-container {
    display: flexbox;
    flex-direction: row-reverse;
    width: 60%;
    min-width: 300px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
    margin-bottom: 0%;
    overflow: hidden;
    color: #1eeadb;
    height:100%;
    font-weight: 500;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.UseBalanceText {
  color: #7a8a99;
  display: inline-block;
  font-size: 100%;
}

.UserBalanceTextB {
  display: inline-block;
  color: #7a8a99;
  font-size: 100%;
}

.UserBorrowLimit {
  color: #D8D7DB;
  font-weight: 600;
  font-size: 30px;
  text-align: right;
}

.UserBalanceOutput {

  color: #D8D7DB;
  font-weight: 600;
  font-size: 30px;
}

.UserBalanceOutputB {

  color: #D8D7DB;
  font-weight: 600;
  font-size: 30px;
}

.UserMaxBorrowText {
  color: #7a8a99;
  text-align: right;
  font-size: 100%;
}

.borrowtextleft {
  width: 45%;
  color: #D8D7DB;
  display: inline-block;
  margin-left: 10%;
  margin-right: 0%;
  margin-bottom: 2%;
}

.borrowtextright {
  float: right;
  margin-right: 5%;
  margin-left: 0%;
  margin-bottom: 2%;
  width: 35%;
}

.supplytextleft {
  width: 45%;
  display: inline-block;
  margin-left: 5%;
  margin-right: 0%;
  margin-bottom: 2%;
}



.supplytextright {
  float: right;
  margin-right: 5%;
  margin-left: 0%;
  margin-bottom: 2%;
  width: 35%;
}

  .UserDetails {
    display: inline-flex;
    height: 40%;
    width: 100%;
    margin-top: 2%;
  }

  .NykeDetails1 {
    display: flex;
    justify-content: center;
  }

  .NykeDetails {
    display: inline-flex;
    flex-direction: column;
    background-color: #1D2833;
    border-radius: 20px;
    height: 50%;
    width: 20%;
    min-width: 360px;

    margin-top: 2%;
  }

  .nykeshell {
    width: 100%;
    min-width: 380px;
    font-size: 80%;
  }

  .MarketDetails {
    display: block;
    height: 50%;
    width: 100%;
    font-size: 80%;
  }

  .Markets {
    display: flex;
    flex-direction: column;
    background-color:#1D2833;
    border-radius: 5px;
    width: 100%;
    height:50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }



  .MarketsText {
    color: #D8D7DB;
    height: 10%;
    margin-left: 2.5%;
  }

  .supplyshell {
    width: 50%;
    min-width: 380px;
    font-size: 80%;
  }


  .Collateral {
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
  }

  .ColText {
    color: #7a8a99;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    width: 100%;
    height: 25%;
    justify-content: center;
  }

  .Colswitch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    font-weight: 500;
    font-size: 17px;
    color: #7a8a99;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    width: 100%;
  }
  
  
  .tooltip .tooltiptext {
    display: none;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    display: block;
  }

  .Supplied{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1D2833;
    border-radius: 5px;
    width: 90%;
    height:70%;
    padding-right: 5%;
    padding-left: 5%;
    margin-left: 0%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }


.borrowshell {
float: right;
  width: 50%;
  height: 100%;
  min-width: 380px;
  font-size: 80%;
  
}

.BorrowText{
  margin-left: 5%;
}

.header__mobile-overlay {

  display: none;

}

.topNavRight {
  float: right;
}

  .Borrowed{
    display: flexbox;
    background-color: #1D2833;
    border-radius: 5px;
    float: right;
    width: 95%;
    margin-right: 0%;
    margin-left: 5%;
    height:70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1150px) {

  .Mobilemodal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    background-color:#10171f;
    margin-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hideen; /* Enable scroll if needed */
    overflow: -moz-hidden-unscrollable;
    
  }
  

  .topnav a.icon {
    float: right;
    display: block;
    color: #1eeadb;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  .maincontent {
    display: block;
    background-color:  #10171f;
    width: 100%;
    height: 800px;
    margin-top: 1%;
    align-items: center;
    overflow: hidden;
    float: right;
  }
  .tdmobile {
    display: none;
  }
  
  .Markets {
    display: block;
    background-color:#1D2833;
    border-radius: 5px;
    width: 100%;
    height:60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .headermenu {
    display: none;
  }
  .header__mobile-overlay {
    background: #10171f;
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 20%;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.header__mobile-overlay--active {
    opacity: 1;
    pointer-events: unset;
    top: 0;

}

.headermobilemenu{
  display: flex;
  flex-direction: column;
  text-align: unset;
  margin-top: 5%;
}

.headermobilemenu a {
  color: #D8D7DB;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: 200%;
  line-height: 1.5;
  text-decoration: none;}

  .headermobilemenu a:hover {
  background-color: #10171f;
  color: #1eeadb
}


.headermobilemenu a.active {
  background-color: #1eeadb;
  color: #10171f;
} 
}

  @media screen and (max-width: 1300px) {
    .maincontent {
      display: flexbox;
      background-color:  #10171f;
      width: 100%;
      height: 1000px;
      margin-top: 1%;
      justify-items: center;
      align-items: center;
      overflow-x: hidden;
      float: right;
    }

        .footer {
      display: inline-block;
      position: sticky;
      position: -webkit-sticky;
      bottom: 0;
      background-color: #10171f;
      padding-top: 1%;
      width: 100%;
      text-align: center;
    }



    .borrowtextleft {
      font-size: 80%;
      width: 60%;
      display: inline-block;
      margin-left: 5%;
      margin-right: 0%;
      margin-bottom: 3%;
      margin-top: 2%;
    }
    
    .borrowtextright {
      font-size: 80%;
      float: right;
      margin-right: 5%;
      margin-left: 0%;
      margin-bottom: 3%;
      margin-top: 2%;
      width: 30%;
    }

    .supplytextright {
      font-size: 80%;
      float: right;
      margin-right: 5%;
      margin-left: 0%;
      margin-bottom: 2%;
      margin-top: 2%;
      width: 35%;
    }    
    .supplytextleft {
      width: 50%;
      font-size: 80%;
      margin-top: 2%;
    }    

    .MarketDetails {
      display: block;
      margin-top: 5%;
      height: 33%;
      width: 100%;
      font-size: 80%;
    }

    .Markets {
      display: block;
      background-color:#1D2833;
      border-radius: 5px;
      width: 100%;
      height:60%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .MarketsText {
      height: 8%;
      margin-left: 5%;
    }
  

    .UserDetails {
      display: flex;
      flex-direction: column;
      height: 66%;
      margin-top: 0%;
      min-width: 300px;}

      .nykeshell {
        width: 100%;
      }



      .supplyshell {
        width: 100%;
        height: 50%;
        min-width: 300px;
        font-size: 80%;
      }
      .Supplied{
        display: flex;
        flex-direction: row;
        background-color: #1D2833;
        border-radius: 5px;
        width: 90%;
        height:60%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      .borrowshell {
        font-size: 80%;
        width: 100%;
        height: 50%;
        min-width: 300px;
      }
      .BorrowText{
        margin-left: 0%;
      }
      .Borrowed{
        display: flexbox;
        background-color: #1D2833;
        border-radius: 5px;
        width: 100%;
        height:60%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
  }



  .WrongNetwork{
    display: none;
  
  }

  .ETCNetwork {
    display: none;
  }

.MetaMask {
  border-radius: 16px; 
  margin: 15px;float: right; 
  margin-left: 10px;
  margin-right: 0px;
  width: 40%; height: 40px; 
  min-width: 120px;
  border: 2px solid #D8D7DB;
  overflow: hidden;
  background-color:#1D2833;
  color: #D8D7DB; 
  font-size: 13px; 
  font-weight: 500;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }

  .MetaMask:hover {
    cursor: pointer;

    color:#1eeadb;
    border-color: #1eeadb;
  }

  .topNavRight {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;

    vertical-align: middle;
    align-items: center;
  }

  .topNavLeft {
    display: flex;
    float: left;
    width: 50%;
    font-size: 20px;
    vertical-align: middle;
    align-items: center;

  }
  .topNavLeft a{
margin-right: 25px;
  }




  .nykeInfo {
    display: flex;
    margin-right: 10px;
    margin-left: 15px;
    float: right; 
    width: 20%; height: 20px; 
    line-height: 20px;
    vertical-align: middle;
    min-width: 120px;
    overflow: hidden;
    color: #D8D7DB; 
    font-size: 13px; 
    justify-content: center;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }

    .nykeInfo .ETCSwapLink {
      vertical-align: middle;
      margin-bottom: 3px;
    }

    .nykeInfo .nNykeLogo {
      vertical-align: middle;
      margin-right: 4px;
    }

    .nykeInfo .ETClogowrapper {
      margin-left: 4px;
    }
  .RewardAPRTopNav {
    border-radius: 16px; 
    display: block;
    margin: 15px;float: right; 
    width: 20%; height: 40px; 
    min-width: 120px;
    border: 2px solid #1eeadb;
    overflow: hidden;
    background-color:#1D2833;
    color: #1eeadb; 
    font-size: 13px; 
    font-weight: 500;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }

  .MetaMask:hover {
    cursor: pointer;
    color:#1eeadb;
    border-color: #1eeadb;
  }

  .claimRewards {
    float: right;
    border-radius: 10px; 
    width: 70px; height: 30px; 
    border: 2px solid #D8D7DB;
    overflow: hidden;
    background-color:#1D2833;
    color: #D8D7DB; 
    font-size: 11px; 
    text-align: center;
    margin-left: 15px;
    font-weight: 400;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }

  .claimRewards:hover {
    cursor: pointer;
    background-color:  #1eeadb;
    color: #1D2833;
  }

  .swapnyke {
    display: block;
    float: right;
    border-radius: 16px; 
    width: 70px; height: 80%; 
    border: 2px solid #1eeadb;
    overflow: hidden;
    background-color:#1D2833;
    color: #1eeadb; 
    font-size: 11px; 
    text-align: center;
    margin-left: 15px;
    font-weight: 400;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }

  .swapnyke:hover {
    cursor: pointer;
    background-color:  #1eeadb;
    color: #1D2833;
  }

  button {
    border-radius: 5px; 
    width: 100px; 
    height: 30px; 
    background-color:#1eeadb;
    color: #10171f;
    font-size: 15px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }
  
table {
  width: 94%;
 border-collapse: collapse;
  border-radius: 25px;
  color: #D8D7DB;
  text-align: left;
  height: 100%;
  margin-left: 3%;
  margin-right: 3%;

  font-size: 100%;
}

.UserSupplyTable {
  width: 100%;
  height: 100%;
  margin-left: 0%;
  margin-right: 0%;
}

tr:first-child {
  color: #7a8a99;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  text-align: center;
  width: 100%;
}

.borrowtable {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

tr div {
  border: none;
}


tr:not(:first-child){
  height: 5%;
  font-weight: 500;
  font-size: 17px;
}

td:first-child {
  width: 30px;
  text-align: left;
}


td:not(:first-child) {
  text-align: center;
  max-width: 100px;
}

tr:not(:first-child){
  height: 30%;
  font-weight: 400;
  font-size: 12px;
  justify-content: center;
}

tr:first-child {
  color: #7a8a99;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  width: 100%;
  height: 10%;
  justify-content: center;
}
 
.Supply tr:not(:first-child):hover {

  color: #1eeadb;
  cursor: pointer;
}









  /* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 100%) {
    .flex-container {
      flex-direction: column;
    }

    .nyke-container {
      flex-direction: column;
    }
}

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  vertical-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 20%;
  height: 15%;
  width: 60%;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}



/* Style the links inside the navigation bar */
.topnav a {
  color:#7a8a99;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #10171f;
  color: #1eeadb
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1eeadb;
  color: #10171f;
} 

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1150px) {
  .logowrapper {
    display: none;
  }

  .mobilelogowrapper {
    display: block;
  }



}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
  .mobileMenu {
    display: block;
  }

  .TopNavLink {
    display: none;
  }


}



/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 620px) {

  .rewardcontainer {
    display: flexbox;
    justify-content: space-evenly;
    height: 10%;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    align-items: center;
  }

  td:not(:first-child) {
    text-align: center;
    max-width: 100px;
    font-size: 12px;
    font-weight: 500;
  }
  
 .nykeInfo {
    display: none;
  }
  

  .nav {
    display: none;
  }



  .rewardsinfo {
    height: 100%;
    width: fit-content;
    overflow: hidden;
    color: #1eeadb;
    height:100%;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .accruedRewards {
    height: 100%;
    width: fit-content;
    overflow: hidden;
    color: #D8D7DB;
    height:100%;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 
  .topnav {
    display: inline-flexbox;
    background-color: #10171f;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    height: 15%;
    width: 90%;
    margin-right: 0%;
    margin-left: 0%;
    align-items: center;
  }

  .header__mobile-overlay {
    background: #10171f;
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 10%;


}



    .logo {
      width: 140px;
      height: 40px;
      margin: 15px;
    
    }

  .logowrapper {
    display: none;
  }

  .mobilelogowrapper {
    display: block;
  }

.nav {
  width: 70px;
  margin-right: 5%;
}


  .flex-container {
    display: flexbox; 
    flex-direction: row-reverse;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    min-width: 300px;
    margin-top: 0%;
    height:100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

    .nyke-container {
      display: block; 
      flex-direction: row-reverse;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      min-width: 300px;
      margin-top: 0%;
      height:100%;
      overflow: hidden;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

    .UserBalanceOutput {
      font-size: 150%;
      font-weight: 600;
    }
    .UserBalanceOutputB {
      font-size: 150%;
      font-weight: 600;
    }
    .UserBorrowLimit {
      font-size: 150%;
      font-weight: 600;
    }
    .UserBorrowLimit{
      font-size: 150%;
      font-weight: 600;
    }
    .borrowtextleft {
      font-size: 80%;
      width: 40%;
      display: inline-block;
      margin-left: 5%;
      margin-right: 0%;
      margin-bottom: 3%;
      margin-top: 2%;
    }
    
    .borrowtextright {
      font-size: 80%;
      float: right;
      margin-right: 5%;
      margin-left: 0%;
      margin-bottom: 3%;
      margin-top: 2%;
      width: 30%;
    }

    .supplytextright {
      font-size: 80%;
      float: right;
      margin-right: 5%;
      margin-left: 0%;
      margin-bottom: 2%;
      width: 35%;
    }    
    .supplytextleft {
      width: 50%;
      font-size: 80%;
    }    
    .MarketDetails {
      display: block;
      margin-top: 4%;
      height: 33%;
      width: 100%;
      font-size: 80%;
    }


    .MarketsText {
      height: 5%;
      margin-left: 5%;
      margin-top: 0%;
    }

    .Supplied{
      display: flex;
      flex-direction: row;
      background-color: #1D2833;
      border-radius: 5px;
      width: 90%;
      height:70%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    }

    .DepositwithdrawButtonContainer {
      display: flex;
      flex-direction: column;
     float: right;
     align-content: center;
     width: 100%;
     height: 100%;

   }

    .DepositwithdrawButton {
      float: right;
      border-radius: 10px; 
      width: 70px; height: 40%;
      border: 2px solid #7a8a99;
      overflow: hidden;
      background-color:#10171f;
      color: #D8D7DB;
      font-size: 11px; 
      text-align: center;
      font-weight: 500;
      margin-top: 2%;
      margin-bottom: 2%;
      align-items: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
      }
    .Borrowed{
      display: flexbox;
      background-color: #1D2833;
      border-radius: 5px;
      float: right;
      width: 100%;
      margin-right: 0%;
      margin-left: 5%;
      height:70%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }



    .NykeInfo{
      display: flexbox;
      background-color: #1D2833;
      border-radius: 5px;
      float: right;
      width: 100%;

      margin-right: 0%;
      margin-left: 5%;
      height:60%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .footer {
      display: inline-block;
      bottom: 0;
      padding-top: 8%;
      padding-bottom: 3%;
      width: 100%;
      text-align: center;
    }

    /* The Modal (background) */
.Mobilemodal-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  background-color:#10171f;
  margin-top: 70px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  
}

.Mobilemodal-menu {
  display: flex;
  flex-direction: column;
  background-color:#10171f;
  border-radius: 25px;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 10%;
}

.Mobilemodal-menu a {
  display: flex;
  flex-direction: column;
  background-color:#10171f;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #D8D7DB;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 5%;
}

  }

/*Enter and Exit Market Switches */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}


/*Enter and Exit Market Switches */
.APRswitch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
}

.APRswitch input { 
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1eeadb;
}

input:focus + .slider {
  box-shadow: 0 0 1px #D8D7DB;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.RewardRate {
  display: inline-block;
  justify-content: center;
  margin-left: 3px;
  font-weight: 400;
  font-size: 90%;
}

/* The Modal (background) */
.modal-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  
}

.header__mobile-overlay--active {
  opacity: 1;
  pointer-events: unset;
  top: 0;
  z-index: 1500
}

.modalButton Button:hover {
  background-color:#1eeadb;
  border: 3px solid #1eeadb;
  color: #1D2833;;
  cursor: pointer;
}

.NykeStatisticsText {
  color: #D8D7DB;
  font-size: 25px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  margin-bottom: 3%;
  text-align: center;
}

.NykeStats {
  color: #1eeadb;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  margin-left: 10%;
  width: 40%;
  margin-bottom: 4%;
}

.NykeStatsOutput {
  color: #D8D7DB;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: right;
  margin-right: 10%;
  width: 40%;
  margin-bottom: 4%;

}



/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 620px) {
  .NykeInfo {
   
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color:#1D2833;
    border-radius: 20px;
    padding-top: 10px;
  }

  .NykeStatisticsText {
    font-size: 20px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

}

.input Button:hover {
  background-color:#1eeadb;
  border: 2px solid #1eeadb;
  color: #1D2833;;
  cursor: pointer;
}

/* Modal Content */

.modal-content {
  display: none;
  background-color:#10171f;
  border-radius: 25px;
  margin: auto;
  border: 5px solid  #1eeadb;
  width: 340px;
  height: 480px;
  backdrop-filter: blur(10px);
  padding: 10px;
}
.image {
  display: inline-block;
  margin-left: 45%;
  width: 50px;
  height: 50px; 
}

.modalclosebutton {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
}
.stats-container {
  display: inline-flex;
  margin: 2%;
  width: 90%;
  font-size: 85%;
}

.stats-container div {
  width: 50%;
}

.Stats-Output {
  text-align: right;
  color:#1eeadb;
}

.modalnav {
  background-color:#10171f;
  overflow: hidden;
  width: 100%;
  height: 10%;
}

.modalnav a{
  display: inline-flexbox;
  color:#D8D7DB;
  float: right;
  text-align: center;
  width: 25%;
  padding-top: 16px;
  text-decoration: none;
  font-size: 80%;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  height: 100%;
}

/* Change the color of links on hover */
.modalnav a:hover {
  background-color: #1D2833;
  color: #1eeadb
}

/* Add a color to the active/current link */
.modalnav a.active {
  background-color: #1eeadb;
  color:#10171f;
} 

.modalbody {
  display: inline-flexbox;
  color:#D8D7DB;
  background-color: #10171f;
  width: 100%;
  float: left;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  height: 60%;
}

.WalletBalance a{
  color: #D8D7DB;
  background-color:#10171f;
  text-align: left;
  align-items: left;
  float: left;
  width: 100%;
}

.WalletBalance{
  display: flexbox;
  color: #D8D7DB;
  background-color: #10171f;
  text-align: left;
  align-items: center;
  align-content: center;
  float: left;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 2%;
  height: 10%;
}

.input {
  display: inline-flexbox;
 width: 80%;
 background-color: #4a5568;
 margin-left: 5%;
 margin-right: 5%;
 padding-left: 5%;
 padding-right: 5%;
 align-items: center;
 align-content: center;
 margin-top: 15%;
 margin-bottom: 2%;
 border-radius: 10px;
 height: 15%;
 min-width: fit-content;
}

.input input {
  background-color: #4a5568;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  border: none;
  text-align: right;
  color: #D8D7DB;
  align-items: center; 
  padding-top: 1%;
  float: right;
  outline: none;
  box-shadow: none;
  font-size: 80%;
  font-weight: 600;
  width: 70%;
  margin-right: 5px;
 }
 .input button {
  background-color: #1D2833;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

  border: 2px solid #1eeadb;
  color: #1eeadb;
  text-align: center;
  float: right;
  outline: none;
  box-shadow: none;
  font-size: 80%;
  font-weight: 400;
  width: 20%;
  height: 55%;
  margin-top: 2px;
  margin-left: 2%;
 }


 .modalButton {
  background-color:#10171f;
  display: flexbox;
  color: #1eeadb;
  font-size: 100%;
  float: right;
  font-weight: 400;

  text-align: center;
  height: 20%;
  width: 100%;
  justify-content: center;
 }


 .modalButton Button{
  background-color:#1D2833;
  border-radius: 25px;
  border: 2px solid #1eeadb;
  color: #1eeadb;
  font-size: 100%;
  align-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  text-align: center;
  font-weight: 600;
  height: 50%;
  width: 80%;
  justify-content: center;
 }

 .ApproveButtons{
  display: inline-block;
 }

.Approve1 {
  display: inline-block;
        height: 21px;
        width: 21px;
        border-radius: 11px;
        font-size: 16px;
        text-align: center;
        text-justify: center;
        background-color: #1eeadb;
        line-height: 21px;
        color: #1D2833;
    }
    .ApproveText {
display: inline-block;
width: 60%;
font-size: 16px;
  }

  .rewards {
    display: inline-flex;
    width: 100%;
    align-items: center;
  }

  .wrewards {
    width: 57%;
    text-align: right;
  }

  .rrewards {
    width: 43%;
    padding-left: 3px;
    height: 20px;
    text-align: left;
    font-size: 20;
  }

  .rrewards img{
    margin-bottom: -5px;
  }

  .nav {
    overflow: hidden;
  float: right;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Montserrat, sans-serif;
align-items: center;
color: #1eeadb; 
font-size: 13px; 
font-weight: 500;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; }
  .nav a {
    float: left;
    margin: 10px;
    display: block; }
  .nav #menu-toggle {
    display: none; }
 
    ul {

      list-style-type: none;
      float: right;
      margin-top: 15px;
      padding: 0;
      overflow: hidden;
      height: 40px
    }
    
    li {
      float: right;
    }
    
    li a, .dropbtn {
      display: inline-block;
      color: white;
      text-align: center;
      text-decoration: none;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
      background-color: red;
    }
    
    li.dropdown {
      display: inline-block;
      height: 40px;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index:1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1;}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }

    .USCRepay2 Button {
      background-color: #0cfa07;
      color: #000000;
      border-color: #0cfa07;
    }

    .USCApproveSpin {
      display: none;
    }

    .USCApproveSpin1 {
      display: none;
    }

    .ETCPOWRepay2 Button {
      background-color: #0cfa07;
      color: #000000;
      border-color: #0cfa07;
    }

    .tdmobile {
      text-align: left;

    }

    .tdmobilemarkets {
      padding-left: 10px;
    }

    .USD {
      color: #7a8a99;
    }

    .native {
      font-weight: 500;
    }

    .RewardAPR {
      display: flex;
      justify-content: center;
      color: #1eeadb;
    }

    .DepositwithdrawButtonContainer {
       display: flex;
       flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
      width: 100%;
      height: 100%;

    }


    .DepositwithdrawButton {
      border-radius: 10px; 
      width: 100%; height: 40%;
      max-width: 100px; 
      border: 2px solid #7a8a99;
      overflow: hidden;
      background-color:#10171f;
      color: #D8D7DB;
      font-size: 11px; 
      text-align: center;
      font-weight: 500;
      margin-top: 2%;
      margin-bottom: 2%;
      align-items: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
      }

      .DepositwithdrawButton:hover {
        cursor: pointer;
        background-color:  #1eeadb;
        color: #1D2833;
      }

      
      .MetaMask:hover {
        cursor: pointer;
        color:#1eeadb;
        border-color: #1eeadb;
      }

      tr { 
        border: solid;
        border-color: #3C444C;
        border-width: 1px 0;
      }

      tr:first-child {
        border-top: none;
      }
      tr:last-child {
        border-bottom: none;
      }

      .footer {
        display: inline-block;
        position: sticky;
        position: -webkit-sticky;
        bottom: 0;
        background-color: #10171f;
        padding-top: 1%;
        width: 100%;
        text-align: center;
      }

      .UserBorrowLimit {
        color: #D8D7DB;
        font-weight: 400;
        font-size: 30px;
        text-align: right;
      }
      
      .UserBalanceOutput {
      
        color: #D8D7DB;
        font-weight: 400;
        font-size: 30px;
      }
      
      .UserBalanceOutputB {
      
        color: #D8D7DB;
        font-weight: 400;
        font-size: 30px;
      }
      
      /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 620px) {

  .DepositwithdrawButtonContainer {
    display: block;
    flex-direction: row;
    flex-wrap: nowrap;
   justify-content: flex-start;
   align-content: center;
   width: 100%;
   height: 100%;

 }
  .DepositwithdrawButton {
    width: 100px;
    float: right;
  }
}
